body {
  background-color: #eee;
}
.navbar-light .navbar-brand {
  color: black;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-nav .nav-link,
.navbar-toggler {
  color: black;
  padding: 0.2rem 1rem;
}

.navbar-toggler {
  background: whitesmoke;
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.navbar-nav {
  padding: 15px 0;
  text-align: left;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
  color: black;
}

.bg-navbar {
  background-color: white; /* Background color for the navbar */
}
/* body {
    background: #007bff;
    background: linear-gradient(to right, #0062e6, #33aeff);
  } */

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}
