* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.user_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.user_option a img {
  min-width: 20px;
  height: 20px;
  margin-right: 5px;
}
.user_option a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-light .navbar-brand {
  color: black;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-nav .nav-link,
.navbar-toggler {
  color: black;
  padding: 0.2rem 1rem;
}

.navbar-toggler {
  background: whitesmoke;
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.navbar-nav {
  padding: 15px 0;
  text-align: left;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
  color: black;
}

.bg-navbar {
  background-color: white; /* Background color for the navbar */
}
.gradient-custom-2 {
  background: #fccb90;
  background: -webkit-linear-gradient(
    to right,
    #ee7724,
    #d8363a,
    #dd3675,
    #b44593
  );
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

#wrapper {
  padding: 150px;
}

#sidebar {
  padding: 15px 0px 15px 0px;
  border-radius: 10px;
}

#sidebar .h4 {
  font-weight: 500;
  padding-left: 15px;
}

#sidebar ul {
  list-style: none;
  margin: 0;
  padding-left: 0rem;
}

#sidebar ul li {
  padding: 10px 0;
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  border-left: 5px solid transparent;
}

#sidebar ul li.active {
  border-left: 5px solid #ff5252;
  background-color: #44007c;
}

#sidebar ul li a {
  display: block;
}

#sidebar ul li a .fas,
#sidebar ul li a .far {
  color: #ddd;
}

#sidebar ul li a .link {
  color: #fff;
  font-weight: 500;
}

#sidebar ul li a .link-desc {
  font-size: 0.8rem;
  color: #ddd;
}

#main-content {
  padding: 30px;
  border-radius: 15px;
}

#main-content .h5,
#main-content .text-uppercase {
  font-weight: 600;
  margin-bottom: 0;
}

#main-content .h5 + div {
  font-size: 0.9rem;
}

#main-content .box {
  padding: 10px;
  border-radius: 6px;
  width: 170px;
  height: 90px;
}

#main-content .box img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

#main-content .box .tag {
  font-size: 0.9rem;
  color: #000;
  font-weight: 500;
}

#main-content .box .number {
  font-size: 1.5rem;
  font-weight: 600;
}

.order {
  padding: 10px 30px;
  min-height: 150px;
}

.order .order-summary {
  height: 100%;
}

.order .blue-label {
  background-color: #aeaeeb;
  color: #0046dd;
  font-size: 0.9rem;
  padding: 0px 3px;
}

.order .green-label {
  background-color: #a8e9d0;
  color: #008357;
  font-size: 0.9rem;
  padding: 0px 3px;
}

.order .fs-8 {
  font-size: 0.85rem;
}

.order .rating img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.order .rating .fas,
.order .rating .far {
  font-size: 0.9rem;
}

.order .rating .fas {
  color: #daa520;
}

.order .status {
  font-weight: 600;
}

.order .btn.btn-primary {
  background-color: #fff;
  color: #4e2296;
  border: 1px solid #4e2296;
}

.order .btn.btn-primary:hover {
  background-color: #4e2296;
  color: #fff;
}

.order .progressbar-track {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.order .progressbar-track .progressbar {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0rem;
}

.order .progressbar-track .progressbar li {
  font-size: 1.5rem;
  border: 1px solid #333;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #dddddd;
  z-index: 100;
  position: relative;
}

.order .progressbar-track .progressbar li.green {
  border: 1px solid #007965;
  background-color: #d5e6e2;
}

.order .progressbar-track .progressbar li::after {
  position: absolute;
  font-size: 0.9rem;
  top: 50px;
  left: 0px;
}

#tracker {
  position: absolute;
  border-top: 1px solid #bbb;
  width: 100%;
  top: 25px;
}

#step-1::after {
  content: "Placed";
}

#step-2::after {
  content: "Accepted";
  left: -10px;
}

#step-3::after {
  content: "Packed";
}

#step-4::after {
  content: "Shipped";
}

#step-5::after {
  content: "Delivered";
  left: -10px;
}

/* Backgrounds */
.bg-purple {
  background-color: #55009b;
}

.bg-light {
  background-color: #f0ecec !important;
}

.green {
  color: #007965 !important;
}
body {
  background-color: #f8f9fa;
}

/* Media Queries */
/* Larger than 1200px */
@media (min-width: 1200px) {
  #wrapper {
    padding: 150px;
  }

  #sidebar {
    padding: 15px 0px 15px 0px;
  }
}

/* Between 992px and 1199px */
@media (min-width: 992px) and (max-width: 1199px) {
  #wrapper {
    padding: 100px;
  }

  #sidebar {
    padding: 10px 0px 10px 0px;
  }
}

/* Between 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {
  #wrapper {
    padding: 80px;
  }

  #sidebar {
    padding: 5px 0px 5px 0px;
  }
}

/* Smaller than 768px */
@media (max-width: 767px) {
  #wrapper {
    padding: 60px;
  }

  #sidebar {
    padding: 5px 0px 5px 0px;
  }
}
